.header {
    width: 100%;
    position: fixed;
    top: 0;
    transition: height 1s;
}
.header.closed {
    height: 64px;
    border-bottom: 1px solid #fff;
}
.header.opened {
    height: 100%;
    border-bottom: none;
}
