.navbar .outer-navbar .title {
    font-size: 20px;
}
.navbar .outer-navbar .logo {
    width: 48px;
}
.navbar .outer-navbar .helmet {
    width: 36px;
}
.navbar .outer-navbar .menu {
    width: 34px;
}
