body {
    margin: 0;
}
/* Fonts */
@font-face {
    font-family: 'Exo2-ExtraBold';
    src: local('Exo2-ExtraBold'),
        url('./fonts/Exo/Exo2-ExtraBold.ttf') format('truetype');
}
/* Fonts */
@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
        url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
